
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WindView</title>
</head>
<body>
    <div>
        Trying to get wind status
        </div>
        @*<div class="panel panel-default spot-table">

    <table class="table table-hover">
        <colgroup>
            <col />
            <col />
            <col class="donot-display" />
            <col class="donot-display" />
        </colgroup>
        <thead>
            <tr>
                <th>
                    ספוט
                </th>
                <th>
                    רוח (קשר) / גלים
                </th>
                <th class="donot-display">
                    <span class="glyphicon glyphicon-camera" title="מצלמות" />
                </th>
                <th class="donot-display">
                    <span class="glyphicon glyphicon-comment" title="דיווחים" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="line">
                <td><a href="/%D7%9B%D7%99%D7%A0%D7%A8%D7%AA" class="link">כנרת</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="27/06/15 04:15">
                                    לא זמין
                                </td>
                                <td class="speedGust">
                                    <span class="below10knots middleAlign">0</span>
                                    -
                                    <span class="below10knots middleAlign">0</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/WSW.png />
                                    <span>WSW</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display">
                    <a href="/%D7%9B%D7%99%D7%A0%D7%A8%D7%AA">
                        <span class="glyphicon glyphicon-camera" title="כנרת" />
                    </a>
                </td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%A0%D7%9E%D7%9C-%D7%97%D7%99%D7%A4%D7%94" class="link">נמל חיפה</a></td>
                <td>
                    <div class="empty"></div>
                    <div class="wave">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 12:59">
                                    12:59
                                </td>
                                <td class="hight">
                                    0.9  - 1.4
                                </td>
                                <td class="direction">
                                    SW
                                </td>
                                <td class="icon">
                                    <img src="../../WindAlert/Images/wave.png" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display"></td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%91%D7%AA-%D7%92%D7%9C%D7%99%D7%9D" class="link">בת גלים</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 14:00">
                                    14:00
                                </td>
                                <td class="speedGust">
                                    <span class="over10knots middleAlign">15</span>
                                    -
                                    <span class="over10knots middleAlign">18</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/WSW.png />
                                    <span>WSW</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display"></td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%A7%D7%99%D7%A1%D7%A8%D7%99%D7%94-%D7%A9%D7%93%D7%95%D7%AA-%D7%99%D7%9D" class="link">קיסריה, פרי גל</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 14:28">
                                    14:28
                                </td>
                                <td class="speedGust">
                                    <span class="over10knots middleAlign">14</span>
                                    -
                                    <span class="over10knots middleAlign">15</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/WSW.png />
                                    <span>WSW</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display">
                    <a href="/%D7%A7%D7%99%D7%A1%D7%A8%D7%99%D7%94-%D7%A9%D7%93%D7%95%D7%AA-%D7%99%D7%9D">
                        <span class="glyphicon glyphicon-camera" title="קיסריה, פרי גל" />
                    </a>
                </td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%91%D7%99%D7%AA-%D7%99%D7%A0%D7%90%D7%99" class="link">בית ינאי</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 14:50">
                                    14:50
                                </td>
                                <td class="speedGust">
                                    <span class="below10knots middleAlign">0</span>
                                    -
                                    <span class="below10knots middleAlign">0</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/N.png />
                                    <span>N</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display">
                    <a href="/%D7%91%D7%99%D7%AA-%D7%99%D7%A0%D7%90%D7%99">
                        <span class="glyphicon glyphicon-camera" title="בית ינאי" />
                    </a>
                </td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%94%D7%A8%D7%A6%D7%9C%D7%99%D7%94-%D7%A6%D7%95%D7%A4%D7%99-%D7%99%D7%9D" class="link">הרצליה, צופי ים</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 14:39">
                                    14:39
                                </td>
                                <td class="speedGust">
                                    <span class="over10knots middleAlign">17</span>
                                    -
                                    <span class="over10knots middleAlign">17</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/WSW.png />
                                    <span>WSW</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display">
                    <a href="/%D7%94%D7%A8%D7%A6%D7%9C%D7%99%D7%94-%D7%A6%D7%95%D7%A4%D7%99-%D7%99%D7%9D">
                        <span class="glyphicon glyphicon-camera" title="הרצליה, צופי ים" />
                    </a>
                </td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%AA%D7%9C-%D7%90%D7%91%D7%99%D7%91-%D7%94%D7%99%D7%9C%D7%98%D7%95%D7%9F" class="link">תל אביב, לב הים</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 14:35">
                                    14:35
                                </td>
                                <td class="speedGust">
                                    <span class="over10knots middleAlign">19</span>
                                    -
                                    <span class="over10knots middleAlign">19</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/NNE.png />
                                    <span>NNE</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display">
                    <a href="/%D7%AA%D7%9C-%D7%90%D7%91%D7%99%D7%91-%D7%94%D7%99%D7%9C%D7%98%D7%95%D7%9F">
                        <span class="glyphicon glyphicon-camera" title="תל אביב, לב הים" />
                    </a>
                </td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%91%D7%AA-%D7%99%D7%9D-%D7%AA%D7%99%D7%90%D7%95" class="link">בת ים, לגונה</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="24/06/15 17:46">
                                    לא זמין
                                </td>
                                <td class="speedGust">
                                    <span class="below10knots middleAlign">0</span>
                                    -
                                    <span class="below10knots middleAlign">0</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/S.png />
                                    <span>S</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display">
                    <a href="/%D7%91%D7%AA-%D7%99%D7%9D-%D7%AA%D7%99%D7%90%D7%95">
                        <span class="glyphicon glyphicon-camera" title="בת ים, לגונה" />
                    </a>
                </td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%A0%D7%9E%D7%9C-%D7%90%D7%A9%D7%93%D7%95%D7%93" class="link">נמל אשדוד</a></td>
                <td>
                    <div class="empty"></div>
                    <div class="wave">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 13:48">
                                    13:48
                                </td>
                                <td class="hight">
                                    1.1  - 1.7
                                </td>
                                <td class="direction">
                                    WSW
                                </td>
                                <td class="icon">
                                    <img src="../../WindAlert/Images/wave.png" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display"></td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%90%D7%A9%D7%93%D7%95%D7%93-%D7%90%D7%A9%D7%93%D7%95%D7%93-%D7%99%D7%9D" class="link">אשדוד, אשדוד ים</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 19:56">
                                    19:56
                                </td>
                                <td class="speedGust">
                                    <span class="below10knots middleAlign">0</span>
                                    -
                                    <span class="below10knots middleAlign">0</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/N.png />
                                    <span>N</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display"></td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%90%D7%A9%D7%A7%D7%9C%D7%95%D7%9F-%D7%9E%D7%A8%D7%99%D7%A0%D7%94" class="link">אשקלון מרינה</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 13:48">
                                    13:48
                                </td>
                                <td class="speedGust">
                                    <span class="below10knots middleAlign">0</span>
                                    -
                                    <span class="below10knots middleAlign">0</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/WNW.png />
                                    <span>WNW</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display">
                    <a href="/%D7%90%D7%A9%D7%A7%D7%9C%D7%95%D7%9F-%D7%9E%D7%A8%D7%99%D7%A0%D7%94">
                        <span class="glyphicon glyphicon-camera" title="אשקלון מרינה" />
                    </a>
                </td>
                <td class="comment donot-display"></td>
            </tr>
            <tr class="line">
                <td><a href="/%D7%90%D7%99%D7%9C%D7%AA" class="link">אילת, סרף סנטר</a></td>
                <td>
                    <div class="wind">
                        <table>
                            <tr>
                                <td class="time" title="28/06/15 14:30">
                                    14:30
                                </td>
                                <td class="speedGust">
                                    <span class="below10knots middleAlign">6</span>
                                    -
                                    <span class="below10knots middleAlign">6</span>
                                </td>
                                <td class="direction">
                                    <img src=../../WindAlert/Images/DirImages/SSW.png />
                                    <span>SSW</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="camera donot-display">
                    <a href="/%D7%90%D7%99%D7%9C%D7%AA">
                        <span class="glyphicon glyphicon-camera" title="אילת, סרף סנטר" />
                    </a>
                </td>
                <td class="comment donot-display"></td>
            </tr>
        </tbody>
    </table>
        </div>*@
</body>
</html>
