@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div style="width: 624px; float:left;">
    <h2>About Us</h2>
    <p>
        This site was built for Kitesurfers all over the world, new kitesurfers that want to 
        get an idea what they are getting into, what kind of equipment to purchase and how to avoid 
        getting hurt by one of the most wonderful sports in the world,
        and advances kitesurfers that was to share ideas, sale or buy used equiment and post 
        some pictures online.
    </p>
    <p>
        At the heart of our commitment is our passion for kitesurfing,
        therefore we are showning wind status from different locations on the web,
        post cameras so each and every one of us can see what's happening on the beach.
    </p>
    <p style="font-size: 20px;">
       How to choosing Kitesurfing Equipment
    </p>
    <p>
        Sizes of kites, boards and harnesses are very important in order to avoid getting hurt,
        therefore we added a list that can help new and advanced kitesurfers to choose their equipment.

    </p>
    <p>
        Our purpose is to grow and show as much useful information as possible,
        so if you have any ideas to make this spot sweeter for anyone here just press the Contact
        button and let us know.
        Hope you enjoy the site, feel free to spread the word...
    </p>
    <!-- end main content ctas -->


</div>
@*<p>Use this area to provide additional information.</p>*@
