@*@{
    ViewBag.Title = "Contact";
}*@
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message="Contact Us"</h3>*@
<div class="pdf heroSection" ms.cmpgrp="body" ms.pgarea="content">

    <div class="contactUsHeader">
        <h1>Contact us</h1>
        <div class="clearFloats"></div>
    </div>

</div>

<address>
    My Address no.16<br />
    Yavne, Israel 81037<br />
    <abbr title="Phone">P:</abbr>
    +972-54-7677574
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yotamziv82@gmail.com">Support@kitesurfing.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yotamziv82@gmail.com">Marketing@kitesurfing.com</a>
</address>