@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    @*<p class="lead">This site is all about KiteSurfing - buying/ selling/ wind status/ cameras and more...</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Kiters</h2>
        <p>
            In here you can find some basic moves and important rules in order to avoid getting hurt.
        </p>
        <p><a class="btn btn-default" href="http://www.inmotionkitesurfing.com/2011/beginners-guide-to-kitesurfing-getting-started">Begin Learning &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buying & Selling Used Equipment</h2>
        <p>That's where we post our used equipment or search for new equipment.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Product")">Buy &raquo;</a></p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Product")">Sell &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wind Status</h2>
        <p>WindGuru/ WindFinder/ Cameras, etc...</p>
        <p><a class="btn btn-default" href="http://www.windalert.co.il/">Wind Alert &raquo;</a></p>
        <p><a class="btn btn-default" href="http://www.windguru.cz/int/index.php?sc=769">Wind Guru &raquo;</a></p>
    </div>
</div>

